# ContentFlow SDK Configuration
EXPO_PUBLIC_CF_BASE_URL=https://api.contentflow.click
EXPO_PUBLIC_CF_TENANT_ID=your_tenant_id
EXPO_PUBLIC_CF_SDK_KEY=your_sdk_key
EXPO_PUBLIC_CF_WRITE_KEY=your_write_key
EXPO_PUBLIC_CF_READ_KEY=your_read_key

# App Configuration
EXPO_PUBLIC_APP_NAME=CF Demo
EXPO_PUBLIC_APP_VERSION=1.0.0
